table, th, td 
{
    border: 1px solid black;
    text-align: center;
}
body
{
    background-color: rosybrown;
    font-family: serif;
}

/* .card
{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    text-decoration: cadetblue;
} */